@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

/*--Animations--*/
@import url(animations/heart.css);
@import url(animations/blink.css);
@import url(animations/flame.css);

body{
    background-color: black;
    font-family: 'Press Start 2P', 'VT323';
}

main{
    height: 100%;
}

section{
    height: 100vh;
}

/* Week number one */

.heart{
    text-align: center;
    padding-top: 5vh;
}

.heart--svg{
    width: 40%;
    height: auto;
    animation:
}

.heart--content{
    fill: rgb(226, 37, 48);
    -webkit-animation: backColor 1.2s linear infinite;
    -moz-animation: backColor 1.2s linear infinite;
    animation: backColor 1.2s linear infinite;
}

.heart--text{
    color: white;
}

.note{
    height: 100vh;
    text-align: center;
    padding-top: 20%;
}

.note--text{
    color: white;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px){

    h1{
        font-size: 10px !important;
    }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* Week number two*/
.candle{
    font-family: 'Mountains of Christmas', cursive;
    color: white;
}

.candle--draw{
    padding-top: 10vh;
    height: 60vh;
}

.candle--draw img{
    display: block;
    margin: 0 auto;
}

.candle--flame{
    height: 15vh;
    opacity: 0.5;
    animation: flame 2s infinite;
    -webkit-animation: flame 2s infinite;
    -moz-animation: flame 2s infinite;
}

.candle--body{
    height: 40vh;
}

.candle--text{
    padding-top: 5vh;
    text-align: center;
    width: 100%;
    height: 20vh;
}

.candle--text span{
    font-size: 20pt;
}
